<p id="notice"><%= notice %></p>

<p>
  <strong>Hostname:</strong>
  <%= @server.hostname %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @server.Caption %>
</p>

<p>
  <strong>CSD Version:</strong>
  <%= @server.CSDVersion %>
</p>

<p>
  <strong>Build Number:</strong>
  <%= @server.BuildNumber %>
</p>

<p>
  <strong>OS Architecture:</strong>
  <%= @server.OSArchitecture %>
</p>

<p>
  <strong>Windows Directory:</strong>
  <%= @server.WindowsDirectory %>
</p>

<p>
  <strong>OS Language:</strong>
  <%= @server.OSLanguage %>
</p>

<p>
  <strong>Current Time Zone:</strong>
  <%= @server.CurrentTimeZone %>
</p>

<p>
  <strong>Country Code:</strong>
  <%= @server.CountryCode %>
</p>

<p>
  <strong>Install Date:</strong>
  <%= @server.InstallDate %>
</p>

<p>
  <strong>Last Boot UpTime:</strong>
  <%= @server.LastBootUpTime %>
</p>

<p>
  <strong>Local Date Time:</strong>
  <%= @server.LocalDateTime %>
</p>

<p>


  <div>
    <strong>List of local users:</strong>
    <table>
      <thead>
        <tr>
    
  <tr>
    <th>USERNAME</th>
    <th>DESCRIPTION</th>
    <th>NAME</th>
    <th>FULLNAME</th>
    <th>LOCAL</th>
    <th>LOCKOUT</th>
    <th>DISABLED</th>
    <th>PWD CHANGEABLE</th>
    <th>PWD EXPIRES</th>
    <th>PWD REQUIRED</th>
    <th>SID</th>
  </tr>
  <% @users.each do |cosa| %>
  <tr>
    <td><%= cosa.Caption %></td>
    <td><%= cosa.Description %></td>
    <td><%= cosa.Name %></td>
    <td><%= cosa.FullName %></td>
    <td><%= cosa.LocalAccount %></td>
    <td><%= cosa.Lockout %></td>
    <td><%= cosa.Disabled %></td>
    <td><%= cosa.PasswordChangeable %></td>
    <td><%= cosa.PasswordExpires %></td>
    <td><%= cosa.PasswordRequired %></td>
    <td><%= cosa.SID %></td>

  </tr>
  <% end %>

  </tr>
</table>



      </tbody>
    </table>
  </div>

</p>




<%= link_to 'Edit', edit_server_path(@server) %> |
<%= link_to 'Back', servers_path %>
